
@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}
.panel {
    position: absolute;
    top: var(--header-height);
    width: 300px;
    right: -300px;
    height: calc(100% - var(--header-height));
    background: var(--color-bg-toned-down);
    transition: right ease-in 0.2s;
    padding: 100px 40px 0;
    box-sizing: border-box;
    z-index: 2;
}

.panelOpen {
    right: 0;
}

.button {
    position: absolute;
    top: calc(var(--header-height) + 20px);
    right: 320px;
    border: 0;
    outline: 0;
    transition: left ease-in 0.2s;
    opacity: 0;
    animation: fadeIn 0.3s forwards ;
}

.button svg {
    width: 30px;
    height: 30px;
}