.button {
    height: 40px;
    border-radius: 8px;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
    flex: 1;
}

.primary {
    background: var(--color-primary);
    color: var(--color-primary-text);
}

.secondary {
    background: var(--color-secondary);
    color: var(--color-secondary-text);
}