.buttons {
    display: flex;
    align-items: center;
    margin: 20px auto 0;
    max-width: 300px;
}

.buttons button + button {
    margin-left: 10px;
}

.headerButtons {
    margin: 20px 0;
    display: block;
}

.headerButtons button {
    padding: 10px 20px;
}