.view {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.view header {
    display: flex;
    align-items: center;
    box-shadow: 0 0 30px black;
    height: var(--header-height);
    padding: 0 40px;
}

.view h1 {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    text-transform: uppercase;
    font-style: italic;
    font-size: 3rem;
    margin: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.view h1 a {
    color: black;
    text-decoration: none;
}

.h1Copy {
    z-index: -1;
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 3.1rem;
    background: linear-gradient(-45deg, #eeaa52, #e73c6f, #2394d5, #2af3b7);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
    color: #fff;
}


.content {
    position: relative;
    max-width: 1024px;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: auto;
    padding: 50px;
}
