div.picker > input {
    padding-right: 30px;

}
div.picker > input[type="color"] {
    padding: 0 30px 0 10px;
    vertical-align: middle;
}

.picker > button {
    position: absolute;
    right: 0;
    bottom: 30px;
    border: 0;
    height: 40px;
    width: 30px;
    padding: 0;
}